<div class="row">
   <div class="col-md-12">
      <h3 class="events text-center">Welcome to your Corn Trader Profile Page, <%= @current_user.name.capitalize %></h3>
   </div>
</div>

<div class="row">
   <div class="col-md-12 text-right">
<% if @current_user %>
 Logged in as <%= @current_user.email %> <br>
  <%= link_to "Delete Account", user_path(@current_user.id), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-danger btn-sm" %>
<% end %>
</div>
   </div>

<div class="card">
  <div class="card-body">
  <h5 class="card-header text-center">Account Status</h5>
  <h3 class= "text-center">Your corn total is: <%=@user.amount_of_corn%> cobs</h3>
  <h3 class= "text-center">Your cash balance is: $<%=@user.amount_of_money%></h3>
  <li class= "text-center">Your total number of trades is <%= @current_user.total_trades %></li>
  <li class= "text-center">Your total money traded is $<%= @current_user.total_money %></li>
  <li class= "text-center">Your total corn traded is <%= @current_user.total_corn %></li>
  <% if !@current_user.bids.empty? %>
    <li class= "text-center">Your average Bid is <%= @current_user.ave_bid %></li>
  <% end %>
  <% if !@current_user.offers.empty? %>
    <li class= "text-center">Your average Offer is <%= @current_user.ave_offer %></li>
  <% end %>
</ul>
  </div>
</div>