<h1> WELCOME TO CORN TRADER WORLD WIDE, <%= @user.name.upcase %> </h1>

<%if @offers.length>0 %>
        <ul>
      <%@offers.to_enum.with_index.reverse_each do |offer,i|%>
        <li> <%= i+1%>. price: <%=offer.price%>, quantity: <%=offer.corn_quantity%></li><br>
      <%end%>
       </ul>
    <%else%>
       <h1>PRAY TO GOD FOR MORE CORN</h1> 
    <%end%>

<h1>======================offers=========================</h1>

<h1>=======================bids==========================</h1>
<%if @bids.length>0 %>
        <ul>
      <%@bids.each_with_index do |bid,i|%>
        <li> <%= i+1%>. price: <%=bid.price%>, quantity: <%=bid.corn_quantity%></li><br>
      <%end%>
       </ul>
    <%else%>
       <h1>NO ONE WANTS TO BUY YOUR PATHETIC CORN</h1> 
    <%end%>

<h1>=======================================================</h1>

<h1>your corn total is: <%=@user.amount_of_corn%>       your cash balance is: <%=@user.amount_of_money%></h1>
<%if @bids.length>0%>
<%= button_to 'Market Sell', {:controller => "trades",:action=>"market_sell",:user_id=>@user.id,:bid_id=> @bids[0].id}, method: :post %>
<%end%>
<%if @offers.length>0%>
 <%= button_to 'Market Buy', {:controller => "trades",:action=>"market_buy",:user_id=>@user.id,:offer_id=> @offers[0].id}, method: :post %>
<%end%>

