<h1>WELCOME TO CORN TRADER WORLDWIDE, <%= @current_user.name.upcase %></h1>
<% if @current_user %>
  Logged in as <%= @current_user.email %>.
  <%= link_to "Log Out", logout_path %>
<% end %>
<%if @offers.length>0 %>
        <ul>
      <%@offers.to_enum.with_index.reverse_each do |offer,i|%>
        <li> <%= i+1%>. price: <%=offer.price%>, quantity: <%=offer.corn_quantity%></li><br>
      <%end%>
       </ul>
    <%else%>
       <h1>PRAY TO GOD FOR MORE CORN</h1> 
    <%end%>

<h1>======================offers=========================</h1>

<h1>=======================bids==========================</h1>
<%if @bids.length>0 %>
        <ul>
      <%@bids.each_with_index do |bid,i|%>
        <li> <%= i+1%>. price: <%=bid.price%>, quantity: <%=bid.corn_quantity%></li><br>
      <%end%>
       </ul>
    <%else%>
       <h1>NO ONE WANTS TO BUY YOUR PATHETIC CORN</h1> 
    <%end%>

<h1>=======================================================</h1>

<h1>your corn total is: <%=@user.amount_of_corn%>       your cash balance is: <%=@user.amount_of_money%></h1>
<%if @bids.length>0%>
<%= button_to 'Market Sell', {:controller => "trades",:action=>"market_sell",:user_id=>@user.id,:bid_id=> @bids[0].id}, method: :post %>
<%end%>
<%if @offers.length>0%>
 <%= button_to 'Market Buy', {:controller => "trades",:action=>"market_buy",:user_id=>@user.id,:offer_id=> @offers[0].id}, method: :post %>
<%end%>

<%=form_for @bid do |f| %>
price <%=f.number_field :price%>
quantity<%=f.number_field :corn_quantity%>
<%= f.hidden_field :user_id, value: @user.id%>
<%=f.submit%>
<%end%>

<%=form_for @offer do |f| %>
price <%=f.number_field :price%>
quantity<%=f.number_field :corn_quantity%>
<%= f.hidden_field :user_id, value: @user.id%>
<%=f.submit%>
<%end%>

<h1>===================open bids===================</h1>
    <%if @user.bids%>
      <% @user.bids.each do |bid|%>
            <div class="Bids">
          <span><%= bid.price %></span>
          <%= button_to "Delete bid",{:controller => "bids",:action=>"destroy_bid",:id=> bid.id,:user_id=>@user.id}, method: :post, data: { confirm: "Really?" } %>
            </div>
      <%end%>

    <%end%>



<h1>===================open offers==================</h1>
   <%if @user.offers%>
      <% @user.offers.each do |offer|%>
            <div class="Offers">
          <span><%= offer.price %></span>
          <%= button_to "Delete Offer",{:controller => "offers",:action=>"destroy_offer",:id=> offer.id,:user_id=>@user.id}, method: :post, data: { confirm: "Really?" } %>
            </div>
      <%end%>

    <%end%>